# Example apps.yaml configuration for Heaty.
# Simply copy this, paste it into your apps.yaml and adapt as needed.

heaty:
  # Obligatory settings that tell appdaemon where to find the app.
  # You shouldn't need to change these two.
  module: heaty_app
  class: Heaty

  # This switch can be used to turn off all rooms (e.g. for vacation times).
  # You may use any switch that has the states "on" and "off".
  # (optional, default: none)
  master_switch: input_boolean.heating_master

  # Whether to automatically turn all schedule switches on together
  # with the master switch.
  # (optional, default: true)
  master_controls_schedule_switches: true

  # Temperature that should be set when heatings are turned off.
  # 4 °C is recommended to protect against frost-induced damage.
  # A value of "off" will set the thermostat's operation mode
  # to off explicitly.
  # (optional, default: off)
  off_temp: 4

  # In the following config block, you may define settings that affect
  # all thermostats in your setup.
  thermostat_defaults:

    # Delta that is added to the temperature value sent to this
    # thermostat in order to correct potential inaccuracies of
    # the temperature sensor.
    # (optional, default: 0)
    delta: 0.5

    # You might want to use an alternative service that receives
    # the operation mode value.
    # (optional, default: climate/set_operation_mode)
    opmode_service: climate/set_operation_mode
    # (optional, default: operation_mode)
    opmode_service_attr: operation_mode

    # You might want to use an alternative service that receives
    # the temperature value.
    # (optional, default: climate/set_temperature)
    temp_service: climate/set_temperature
    # (optional, default: temperature)
    temp_service_attr: temperature

  rooms:

    # Create such a block for every room you want to control.
    living:
      # An alternative friendly name to display in logs.
      # (optional)
      friendly_name: Living Room

      # If turned off, this switch disables the scheduled control
      # for this room.
      # You may use any switch that has the states "on" and "off".
      # (optional)
      schedule_switch: input_boolean.heating_schedule_living

      # All thermostats of this room go here.
      thermostats:

        climate.living1
          # We could, for instance, overwrite the delta for this
          # particular thermostat.
          delta: 1.0

        climate.living_2:
          # ...

      # Schedule for this room.
      # If you don't want to have this room be controlled by a schedule,
      # simply omit the schedule or leave it empty.
      # (optional)
      schedule:

      # A schedule consists of a number of rules, each defining:
      # - a set of weekdays and
      # - a set of daytimes and corresponding temperatures.
      # For each rule, timers are created that set the desired temperatures
      # at the specified times on all weekdays the rule is valid on.
      #
      # This means, you don't specify time ranges and assign
      # temperatures to them. You rather provide times at which
      # a temperature change should happen.
      #
      # The different parts of a rule have to be separated by semicolons.
      # Any whitespace contained in a rule is ignored.

      # From Monday to Friday, set temperature to 20.5 °C at 7.45 AM,
      # and to 16 °C at 11.00 PM.
      - 1-5;  07:45 = 20.5;  23:00 = 16

      # On weekends, set temperature to 20.5 °C at 8.15 AM,
      # and to 16 °C at 11.30 PM.
      - 6-7;  8:15 = 20.5;  23:30 = 16

      # On Mondays and Thursdays, additionally set temperature to 22 °C
      #at 6.00 PM.
      - 1,4; 18:00=22
